h2{
    text-align: center;
}

body {
    text-align: center;
    background-color: antiquewhite;
}

label{
    padding-left: 10px;
}

.container {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 0px;
    padding-top: 20px;
}

.myButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4e77c9), color-stop(1, #2c471e));
    background:-moz-linear-gradient(top, #4e77c9 5%, #2c471e 100%);
    background:-webkit-linear-gradient(top, #4e77c9 5%, #2c471e 100%);
    background:-o-linear-gradient(top, #4e77c9 5%, #2c471e 100%);
    background:-ms-linear-gradient(top, #4e77c9 5%, #2c471e 100%);
    background:linear-gradient(to bottom, #4e77c9 5%, #2c471e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e77c9', endColorstr='#2c471e',GradientType=0);
    background-color:#4e77c9;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:2px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Georgia;
    font-size:16px;
    padding:10px 31px;
    text-decoration:none;
    text-shadow:0px 0px 5px #3148bd;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2c471e), color-stop(1, #4e77c9));
    background:-moz-linear-gradient(top, #2c471e 5%, #4e77c9 100%);
    background:-webkit-linear-gradient(top, #2c471e 5%, #4e77c9 100%);
    background:-o-linear-gradient(top, #2c471e 5%, #4e77c9 100%);
    background:-ms-linear-gradient(top, #2c471e 5%, #4e77c9 100%);
    background:linear-gradient(to bottom, #2c471e 5%, #4e77c9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c471e', endColorstr='#4e77c9',GradientType=0);
    background-color:#2c471e;
}
.myButton:active {
    position:relative;
    top:1px;
}

.button_VeziIntrebarile {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button_VeziIntrebarile:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.button_adauga {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #118f33), color-stop(1, #5cbf2a));
    background:-moz-linear-gradient(top, #118f33 5%, #5cbf2a 100%);
    background:-webkit-linear-gradient(top, #118f33 5%, #5cbf2a 100%);
    background:-o-linear-gradient(top, #118f33 5%, #5cbf2a 100%);
    background:-ms-linear-gradient(top, #118f33 5%, #5cbf2a 100%);
    background:linear-gradient(to bottom, #118f33 5%, #5cbf2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#118f33', endColorstr='#5cbf2a',GradientType=0);
    background-color:#118f33;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:2px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Georgia;
    font-size:16px;
    padding:3px 18px;
    text-decoration:none;
    text-shadow:0px 0px 5px #2f6627;
}
.button_adauga:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #118f33));
    background:-moz-linear-gradient(top, #5cbf2a 5%, #118f33 100%);
    background:-webkit-linear-gradient(top, #5cbf2a 5%, #118f33 100%);
    background:-o-linear-gradient(top, #5cbf2a 5%, #118f33 100%);
    background:-ms-linear-gradient(top, #5cbf2a 5%, #118f33 100%);
    background:linear-gradient(to bottom, #5cbf2a 5%, #118f33 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#118f33',GradientType=0);
    background-color:#5cbf2a;
}
.button_adauga:active {
    position:relative;
    top:1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:2px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-content: center;
}

li a:hover:not(.active) {
    background-color: chocolate;
}

.active {
    background-color: #4CAF50;
}